.container {
  height: 90vh;
}

/****** Tira de imágenes *******/

.tira {
  display: flex;
}

.foto-tira {
  flex: 30%;
}

.centrar {
  width: 80%;
  margin: 6% 4%;
  border-radius: 1rem;
}

.centrar2 {
  margin: 15% 4%;
}

/********* Media Querie************/
@media screen and (max-width: 575px) {

  .container {
    height: 90vh;
  }

  .centrar {
    width: 95%;
    margin: 4% 2%;
    border-radius: 1rem;
  }
  .centrar2 {
    margin: 12% 2%;
  }
}